.reasons-banner {
    display: flex;
    align-items: center;
    background: #F8F6ED;
}

.reasons-banner__image-wrapper,
.reasons-banner__copy {
    width: 50%;
}

.reasons-banner__image-wrapper {
    height: 100%;
}

.reasons-banner__image-wrapper img {
    height: calc(100% + 1px);
    width: 100%;
    object-fit: cover;
    display: block;
    margin-top: -1px;
}

.reasons-banner__copy {
    max-width: 600px;
    padding: 54px 50px 50px;
    box-sizing: content-box;
}

.reasons-banner__copy h4 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5D5D5D;
}

.reasons-banner__copy p {
    font-family: 'FuturaMedium';
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5D5D5D;
    margin: 30px 0;
}

.reasons-banner__copy a {
    padding: 14px 50px;
    background: #DDAD26;
    border-radius: 8px;

    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1C1C1C;
    display: block;
    width: fit-content;
}

.reasons-banner__copy .copy__cta {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    flex-direction: column;
    gap: 30px;
}

img.mobile--only {
    display: none;
}

@media(max-width: 1000px) {
    .reasons-banner {
        flex-direction: column;
    }

    .reasons-banner__image-wrapper,
    .reasons-banner__copy {
        width: 100%;
    }

    .reasons-banner__copy {
        padding: 20px 15px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .reasons-banner__image-wrapper {
        height: 50vw;
    }
}

@media(max-width: 550px) {
    .reasons-banner__image-wrapper {
        height: 77vw;
    }

     .reasons-banner__copy a {
        width: 100%;
        text-align: center;
    }

    .copy__cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .reasons-banner__copy .copy__cta {
        flex-direction: column-reverse;
        align-items: center;
    }

    img.desktop--only {
        display: none;
    }

    img.mobile--only {
        display: flex;
    }

}