<div class="cl-header">
    <div class="page-width">
    <div class="branding">
        <a class="logo" href="/">
            <img src="{{ 'logo-catalyst.png' | asset_url }}" alt="">
        </a>
    </div>
    </div>
    <img src="{{ 'upcycled.png' | asset_url }}" alt="Upcycled Cat Litter Soft Wood"> 
</div>
{% section 'cl-hero-three-products' %}
{% section 'cl-keep-the-cat-three-products' %}
{% section 'cl-love-your-pet' %}
{% section 'cl-featured-product-three-products' %}
{% section 'cl-terms' %}
{% section 'cl-newsletter' %}
{% section 'cl-testimonials' %}



{% section 'home-instagram' %}