<div class="cl-header">
    <img src="{{ 'upcycled.png' | asset_url }}" alt="Upcycled Cat Litter Soft Wood"> 
</div>
{% section 'cl-hero' %}
{% section 'cl-keep-the-cat' %}
{% section 'cl-love-your-pet' %}
{% section 'cl-featured-product' %}
{% section 'cl-features' %}
{% section 'cl-newsletter' %}
{% section 'cl-testimonials' %}



{% section 'home-instagram' %}