<div class="cl-header">
    <img src="{{ 'upcycled.png' | asset_url }}" alt="Upcycled Cat Litter Soft Wood"> 
</div>
{% section 'cl-hero-unscented' %}
{% section 'cl-keep-the-cat-unscented' %}
{% section 'cl-love-your-pet' %}
{% section 'cl-featured-product-unscented' %}
{% section 'cl-features' %}
{% section 'cl-newsletter' %}
{% section 'cl-testimonials-unscented' %}



{% section 'home-instagram' %}